{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card m-auto" style=" background-color: rgb(164, 161, 161); width: 25rem; opacity: 0.8;z-index: 1;">

    <div class="card-header">
      <h3 class="card-title">الحجز</h3>
    </div>
    <form class="form-control" method="POST"  > 
      {% csrf_token %} 
      <div class="card-body"> 
        {{form|crispy}}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-secondary">احجز</button>
      </div>
    </form>
    <br><br>  
</div>
{% endblock content %}