{% extends 'base.html' %}

{% block content %}
<section class="py-5 m-auto" style= "background-color: rgb(164, 161, 161); width: 50rem; opacity: 0.8;z-index: 1;">
    <div class="card">
        <div class= 'card-title text-center'><h3>{{ object.name }}</h3></div>
        <div class= 'card-body'>
        <p class= 'text-center'>{{ object.dat }} | {{ object.tim }}</p>
        <p class= 'text-center'>{{ object.num_of_hour }}<b> : المدة </b></p>
        <p class= 'text-center'><b> الحالة :</b> {{ object.accsepted }}</p>
        <p class= 'text-center'><b> : ملاحظات</b></p>
        <p class= 'text-center'>{{object.notes}}</p>
        </div>
        <div class= 'card-footer'>
            <p class= 'text-center'><a class= 'btn' href="{% url 'book_edit' book.pk %}">قبول الحجز</a> | <a class= 'btn' href="{% url 'books_requests' %}">عودة</a> | <a class= 'btn' href="{% url 'article_delete' book.pk %}">حذف</a>.</p>
        </div>
    </div>
</section>
{% endblock content %}